body{
	text-align: center;
	background-color: black;
	color: white;
}

.sessionBar{
	border-style:solid;
	background-color: #212529;
	border-color: #b19cd9;
	/*padding:10px;*/
	border-left:0px;
	border-right:0px;
	padding-top:10px;
	padding-bottom:10px;
	/*display: flex;*/
	cursor:pointer;
	/*justify-content: space-evenly;*/
	width:100%;
}
.sessionBar:hover{
	/*background-color:#1D1E18;*/
}

.menuItem{
	color:white;
	background-color:#212529;
	text-decoration: none;
	padding:10px;
}
.menuItem:hover{
	background-color:#1D1E18;
	cursor:pointer;

}
.menuBar{
	display: flex;
	justify-content: space-evenly;
	background-color: #212529;
	position:fixed;
	width:100%
}

.sessionView{
	display:flex;	
}
.sessionSideView{
	flex-direction:column;
	width:100%;
}
.logSidebar{
	width:25%;
	height:90vh;
	overflow-y:scroll;
}

.logItemColored{
	background-color: rgb(40, 44, 52);
}

.logItemUnColored{
	background-color: #111519;
}

.activeLog{
	background-color:#1D1E18;
}

.darkScrollbar::-webkit-scrollbar {
	width: auto;
	height: 0px;
}
.darkScrollbar::-webkit-scrollbar-button {
	width: auto;
	background-color: rgb(73, 81, 98);
	height: 0px;
}
.darkScrollbar::-webkit-scrollbar-thumb {
	width: auto;
	background-color: rgb(73, 81, 98);
}
.darkScrollbar::-webkit-scrollbar-track {
	width: auto;
	background-color: rgb(40, 44, 52);
}
.hexEdit{
	background-color: rgb(40, 44, 52);
	width:100%;
}

.valueInfo{
	background-color: rgb(40, 44, 52);
}

.logInfoHeader{
	font-size:20px;
}
.logInfo{
	padding-top:2vh;
	width:100%;
	background-color: rgb(40, 44, 52);
	line-height:1.5;
}
